
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Plantel</title>
    <style>
        .body{
            text-align: center;
        }
    </style>
</head>
<body>
    <div class="body">
        <h1>Plantel</h1>
        <p>José<br />Manuel <br /> Machuca <br/>Abreo<br /></p>
    </div>
</body>
</html>
