@{
    ViewData["Title"] = "Home Page";
}

    <div>
        @using (Html.BeginForm())
        {
            <p>
                Ingrese el código de la persona a buscar:
                @Html.TextBox("Codigo")
            </p>
            <p>
                <input type="submit" value="Buscar" />
            </p>
        }
    </div>
