
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Alta</title>
</head>
<body>
    <div>
        <h1>Alta de Proveedores</h1>
        <p>xxxxxxxxxx</p>
        @Html.ActionLink("Listado de proveedores", "Listado")
        <br />
        @Html.ActionLink("Retornar a pagina principal", "Index", "Home")
    </div>
</body>
</html>
