@model CrudEntityFramework.Models.Usuario

@{
    ViewData["Title"] = "Detalle usuario";
    Layout = "~/Views/Shared/_Layout.cshtml";
}




<div class="card card-primary" style="width:100%;">
    <div class="card-header">
        <h3 class="card-title">DETALLE REGISTRO</h3>
    </div>
    <!-- /.card-header -->
    <!-- form start -->   
    <div class="card-body">
        <ul class="list-group">
            <li class="list-group-item"><strong>Nombre: </strong>@Html.DisplayFor(m => m.Nombre)</li>
            <li class="list-group-item"><strong>Teléfono: </strong>@Html.DisplayFor(m => m.Telefono)</li>
            <li class="list-group-item"><strong>Celular: </strong>@Html.DisplayFor(m => m.Celular)</li>
            <li class="list-group-item"><strong>Email: </strong>@Html.DisplayFor(m => m.Email)</li>
        </ul>
    </div>
    <!-- /.card-body -->
   
    <div>
        <a asp-action="Index">Volver a lista</a>
    </div>
</div>
