@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <p><a href="/Home/FormularioVisita">Dejar comentarios en el libro de visitas.</a></p>
        <p><a href="/Home/ListadoVisitas">Comentarios de visitantes.</a></p>
    </div>
@*  *@