
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Listado</title>
</head>
<body>
    <h1>Listado de Clientes</h1>
    <p>xxxxxxxxxx</p>
    @Html.ActionLink("Alta de clientes", "Alta")
    <br />
    @Html.ActionLink("Retornar a pagina principal", "Index", "Home")
</body>
</html>
